<div id="search-box">
  <div class="search-wrapper">
  </div>
  <div class="text-fields-wrapper">
    <h3 class="from-place"><span>From: </span>Bangalore</h3>
    <h3>Where do you wanna go?</h3>
    <form id="search-form" action="#">
      <input name="toplace" type="text" class="from-box location" placeholder="Location Name"/>
      <h3>When?</h3>
      <input name="departure" type="text" class="from-box" placeholder="Departure MM-DD-YYYY"/>
      <input name="arrival" type="text" placeholder="Arrival MM-DD-YYYY"/>
      <br />
      <input type="submit" class="btn btn-info" value="Stay? Travel? places around?" />
    </form>
  </div>
</div>

<div id="weather"></div>

<div id="map">
  <div id="map-canvas" style="float:left;width:70%; height:100%"></div>
  <div id="directions-panel" style="float:right;width:30%;height 100%"></div>
</div>

<div style="clear:both"></div>

<div id="slider-code">
    <ul class="pager nav nav-tabs">
      <%= render "hotels" %>
      <%= render "bus" %>
      <%= render "flights" %>
      <%= render "visits" %>
      <%= render "restaurants" %>
    </ul>
    <a href="#" class="buttons prev">left</a>
    <div class="viewport">
        <ul class="overview">
            <li id="hotels">tab one</li>
            <li id="buses">tab two</li>
            <li id="flights">tab three</li>
            <li id="places">tab four</li>
            <li id="restaurants">tab five</li>
        </ul>
    </div>
    <a href="#" class="buttons next">right</a>
</div>
