<!DOCTYPE html>
<html>
  <head>
    <title>Trippy</title>
    <%= stylesheet_link_tag    "application", :media => "all" %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>
    <script src="https://maps.googleapis.com/maps/api/js?sensor=false"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.21/jquery-ui.min.js"></script>
  </head>
  <body style="background: url(<%= random_bg %>) no-repeat; background-size: 100%;">
    <div class="trippy-container">
      <%= yield %>
    </div>
  </body>
</html>
